@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Custom Scrollbar Utilities */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}